= render 'shared/header'
.wrapper
  .video
    - @shares.each do |share|
      %p
        -# = share.title
        = image_tag(share.video_url(:screenshot).to_s, id: "video", :alt => "screenshot")
        = link_to share do
          %span.fa.fa-play
      %p
        = share.title
      %p
        = share.user.nickname


