= render 'shared/header'
.wrapper
  .video
    = @shares.each do |share|
      %p
        -# = share.title
        = image_tag(share.video_url(:screenshot).to_s, id: "video", :alt => "screenshot")
        = share.title
        = link_to '視聴する', share
        -# = link_to 'Edit', edit_article_path(share)
        -# = link_to 'Destroy', share, method: :delete, data: { confirm: 'Are you sure?' }
