-# = render 'shared/header'
.show-main
  = current_user.nickname
.list
  動画投稿リスト
.video
  - @shares.each do |share|
    = image_tag(share.video_url.to_s, id: "video")
    = share.title
    = link_to 'Show', share
    = link_to 'Edit', share_path(share)
    = link_to 'Destroy', share, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }


.home
  = link_to 'HOME', shares_path(@share),class: "EDITLink"
