= render 'shared/header'
.show-main
  = current_user.nickname
.video
  - @shares.each do |share|
    = image_tag(share.video_url(:screenshot).to_s, id: "video", :alt => "screenshot")
    = share.title
    = link_to 'Show', share
    = link_to 'Edit', share_path(share)
    = link_to 'Destroy', share, method: :delete, data: { confirm: 'Are you sure?' }


.home
  = link_to 'HOME', shares_path(@share),class: "EDITLink"
