<!DOCTYPE html>
<html>
  <head>
    <title>VideoShareApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header class="header">

    <div class="header__ber row">
      <h1 class="girid-6"><a href="/">YuoTube</a></h1>
    </div>

</header>


    <%= yield %>

  </body>
</html>
